.stacking-container {
  border: 3px solid var(--dark-jungle-green);
  background-color: rgba(var(--shiny-shamrock-rgb), 0.5);
  padding: 12px;
  min-height: 200px;
}

.stacking-element {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3px;
  background-color: rgba(var(--light-grey-rgb), 0.8);
  border: 3px solid rgba(var(--dark-jungle-green-rgb), 0.5);
}

.stacking-element-small {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
  align-items: flex-start;
  justify-content: center;
  padding: 3px;
  background-color: rgba(var(--light-grey-rgb), 0.5);
  border: 3px solid rgba(var(--dark-jungle-green-rgb), 0.5);
}

.stacking-element-small p {
  margin: 0;
}

.stacking-element-1 {
  width: 300px;
  height: 150px;
}

.stacking-element-2 {
  left: 180px;
  top: 50px;
  width: 300px;
  height: 100px;
}

.stacking-element-3 {
  right: 20%;
  bottom: 20%;
}

.stacking-element-4 {
  right: 5%;
  bottom: 5%;
}
